*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: grey;
}

.container{
    margin: 50px;
    padding: 10px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    box-sizing: border-box;
    background-color: azure;
}
h1{
    margin: 5px;
    padding: 5px;
    /* display: flex; */
    text-align: center;
}

::selection{
    background-color: black;
    color: aqua;
    cursor: pointer;
}